EN
This is the Output file of the solution Sebastien.
It contains the final formula applied, the Leftovers' quantities and all the steps to blend the wines in the tanks to get the desired mix

- The final formula is adapted from the one given in the problem to the reality of the tanks and the final mix.
- The Leftovers are the quantities of wine left in the tanks after the final mix is done and the tanks containing them.
- The steps are all the operations done to get the final mix, they are ordered from the first to the last.

------------
------------

FR
Ceci est le fichier de sortie de la solution Sebastien.
Il contient la formule finale appliquée, les quantités de restes et toutes les étapes pour mélanger les vins dans les cuves pour obtenir le mélange désiré

- La formule finale est adaptée de celle donnée dans le problème à la réalité des cuves et du mélange final.
- Les restes sont les quantités de vin restant dans les cuves après que le mélange final soit fait et les cuves les contenant.
- Les étapes sont toutes les opérations effectuées pour obtenir le mélange final, elles sont ordonnées de la première à la dernière.

------------
------------

FINAL FORMULA /FORMULE FINALE

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

------------
------------

LEFTOVERS / RESTES

The leftovers are indicated by wine name, quantity and tank ID
Les restes sont indiqué par nom, quantité et ID de cuve

name, quantity (hL), tank ID
aaaaaaa; 5.0, 0
bbbbbbb, 0.7, 34
bbbbbbb, 3.0, 324
ccccccc, 1.0, 23

------------
------------

STEPS / ETAPES

The steps are indicated by the tank ID from whom we take the wine, the wine name, the quantity of wine taken from the tank and the tank ID where the wine is put
Les étapes sont indiquées par l'ID de la cuve qui contient du vin, le nom du vin, la quantité de vin prise de la cuve et l'ID de la cuve où le vin est mis

Input ID, wine name, quantity (hL), Output ID
0, aaaaaaa, 5.0, 1
34, bbbbbbb, 0.7, 324
45, ccccccc, 3.0, 324
23, ddddddd, 1.0, 1
1, aaaaaaa/ddddddd, 5.0, 324


