EN
This is the output file of Sebastien's solution. It contains the final formula applied, the quantities of leftovers, and all the steps taken to blend the wines in the tanks to achieve the desired mix.

The final formula has been adapted from the one given in the problem to reflect the reality of the tanks and the final mix.
The leftovers are the quantities of wine remaining in the tanks after the final mix is complete and the tanks containing them.
The steps are all the operations performed to achieve the final mix, and they are listed in order from first to last.

------------
------------

FR
Ceci est le fichier de sortie de la solution Sebastien.
Il contient la formule finale appliquée, les quantités de restes et toutes les étapes pour mélanger les vins dans les cuves pour obtenir le mélange désiré.

- La formule finale est adaptée de celle donnée dans le problème à la réalité des cuves et du mélange final.
- Les restes sont les quantités de vin restant dans les cuves après que le mélange final soit fait et les cuves les contenant.
- Les étapes sont toutes les opérations effectuées pour obtenir le mélange final, elles sont ordonnées de la première à la dernière.

------------
------------

FINAL FORMULA /FORMULE FINALE

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

------------
------------

LEFTOVERS / RESTES

The leftovers are indicated by the name of the wine, the quantity, and the tank ID.
Les restes sont indiqués par nom, quantité et ID de cuve

name; quantity (hL); tank ID
aaaaaaa; 5,0; 0
bbbbbbb; 0,7; 34
bbbbbbb; 3,0; 324
ccccccc; 1,0; 23

------------
------------

STEPS / ETAPES

The steps are indicated by the tank ID from which the wine is taken, the wine name, the quantity of wine taken from the tank, and the tank ID where the wine is placed.
Les étapes sont indiquées par l'ID de la cuve d'où le vin est pris, le nom du vin, la quantité de vin prise dans la cuve, et l'ID de la cuve où le vin est placé.

Input ID, quantity (hL), Output ID, wine name
0; 5,0; 1; aaaaaaa
34; 0,7; 324; bbbbbbb
45; 3,0; 324; ccccccc
23; 1,0; 1; ddddddd
1; 5,0; 324; aaaaaaa/ddddddd


